<% if @client.authorized? %>
  <p>You have been logged into Twitter. Your twitter account is: <%= @client.info["name"] %></p>
<% else %>
  <p>You need to login into Twitter. <%= link_to "Sign in now!", connect_url %></p>
<% end %>

<% if @kiosks.size > 0 %>
<h1>Listing kiosks</h1>

<div class="table">
  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @kiosks.each do |kiosk| %>
    <tr>
      <td><%=h kiosk.name %></td>
      <td><%= link_to 'Show', kiosk %></td>
      <td><%= link_to 'Edit', edit_kiosk_path(kiosk) %></td>
      <td><%= link_to 'Destroy', kiosk, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Kiosk', new_kiosk_path %>
</div>
<% else %>
  <h2>Welcome to TwitterKioskApp!</h2>
  <p>
    Thank you for registering. You can start creating your first kiosk right away! Click <%= link_to "here", new_kiosk_path %> to create your first kiosk.
  </p>
<% end %>