<!DOCTYPE html>
<html>
<head>
  <title>TwitterKiosk</title>
  <%= stylesheet_link_tag "kiosk.css" %>
  <%= javascript_include_tag "jquery-1.4.2.min.js" %>
  <%= javascript_include_tag "jquery.cycle.all.min.js" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3168729-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
</head>
<body>
  <%= yield %>
</body>
</html>
